<!-- Navigation Bar -->

<nav class="flex items-center justify-between px-12 py-8 mx-auto">
  <div class="flex space-x-16">
    <div>
      <img src="assets/img/logo.svg" alt="Logo" />
    </div>
    <div class="flex space-x-10">
      <div class="flex items-center space-x-3">
        <a href="#" class="hover:text-mediumGray">Features</a>
        <img src="assets/img/icon-arrow-down.svg" alt="drop down icon" />
      </div>

      <div class="flex items-center space-x-3">
        <a href="#" class="hover:text-mediumGray">Company</a>
        <img src="assets/img/icon-arrow-down.svg" alt="drop down icon" />
      </div>
      <div class="flex items-center">
        <a href="#" class="hover:text-mediumGray">Careers</a>
      </div>
      <div class="flex items-center">
        <a href="#" class="hover:text-mediumGray">About</a>
      </div>
    </div>
  </div>
  <div class="flex items-center space-x-8">
    <a href="#" class="hover:text-mediumGray font-bold">Login</a>
    <a
      href="#"
      class="bg-transparent font-bold py-2 px-6 border-2 border-almostBlack rounded-xl hover:border-mediumGray hover:text-mediumGray"
      >Register</a
    >
  </div>
</nav>

<!-- Hero Section -->

<section
  id="hero"
  class="flex items-center justify-between px-48 mb-20 mx-auto"
>
  <div class="flex flex-col mt-20 space-y-10">
    <h1 class="text-7xl font-extrabold">Make <br />remote work</h1>
    <p class="max-w-sm text-mediumGray">
      Get your team in sync, no matter your location. Streamline processes,
      create team rituals, and watch productivity soar.
    </p>
    <div class="py-4">
      <a
        href="#"
        class="max-w-sm bg-almostBlack text-center text-white font-bold py-4 px-6 rounded-xl hover:bg-transparent hover:border-2 hover:border-almostBlack hover:text-black"
        >Learn More</a
      >
    </div>
    <div class="flex items-center space-x-10 py-12">
      <a href="#"
        ><img src="assets/img/client-databiz.svg" alt="Data Biz logo"
      /></a>
      <a href="#"
        ><img src="assets/img/client-audiophile.svg" alt="Audiophile logo"
      /></a>
      <a href="#"
        ><img src="assets/img/client-meet.svg" alt="Meet logo"
      /></a>
      <a href="#"
        ><img src="assets/img/client-maker.svg" alt="Maker logo"
      /></a>
    </div>
  </div>
  <div>
    <img src="assets/img/image-hero-desktop.png" class="w-80" alt="Hero Image">
  </div>
</section>
